@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p {
  font-family: 'Roboto', sans-serif !important;
}

h1 ,h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}

.avartar {
  margin-left: 20px;
}

.text-font {
  font-family: 'Roboto', sans-serif !important;
}